{% load sum_filters %}

<h2>📜 Your Test History</h2>
<table border="1">
    <tr>
        <th>#</th>
        <th>Test</th>
        <th>Started At</th>
        <th>Completed At</th>
        <th>Total Score</th>
    </tr>
    {% for attempt in attempts %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ attempt.testid.title }}</td>
        <td>{{ attempt.started_at }}</td>
        <td>{{ attempt.completed_at }}</td>
        <td>
            {{ attempt.answers.all|total_score:"scored_mark" }}
        </td>
    </tr>
    {% endfor %}
</table>
