<!-- templates/student_test_detail.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
   <h1>{{ test.title }}</h1>

<form method="post" action="{% url 'testapp:submit_test' test.id %}">
  {% csrf_token %}
  <ul>
  {% for question in questions %}
    <li>
      <strong>{{ question.text }}</strong>
      <ul>
        {% if question.question_type == 'OC' %}
          {% for answer in question.answer_options.all %}
            <li>
              <label>
                <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                {{ answer.text }}
              </label>
            </li>
          {% endfor %}
        {% elif question.question_type == 'MC' %}
          {% for answer in question.answer_options.all %}
            <li>
              <label>
                <input type="checkbox" name="question_{{ question.id }}" value="{{ answer.id }}">
                {{ answer.text }}
              </label>
            </li>
          {% endfor %}
        {% else %}
          <li>Bu turdagi savollar uchun javob tizimi hali ishlab chiqilmagan.</li>
        {% endif %}
      </ul>
    </li>
  {% endfor %}
  </ul>
  <button type="submit">Testni topshirish</button>
</form>




    <a href="{% url 'testapp:student_tests' %}">Orqaga</a>
</body>
</html>
